html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-background {
  background: url("Images/dust_scratches.png");
}

.backgroundWhite {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}